{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <h2 style="text-align: center;">All posts</h2>
    <div class="container">
        <div class="row justify-content-center mt-4">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">
                            <form id="post-form">
                                {% csrf_token %}
                                <div class="form-group">
                                  <label for="newPostText"><h4>New post</h4></label>
                                  <textarea class="form-control" id="newPostText" rows="3" placeholder="Share what's on your mind: " autofocus></textarea>
                                </div>
                                <button id="submit-button" type="submit" class="btn btn-primary mb-2">Post</button>
                            </form>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "network/includes/pagination.html" %}
{% endblock %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}
