{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header" style="text-align: center;"><h2>{{ user_profile }}</h2></div>
                <div class="card-body">
                    <p class="card-text">
                        <div class="row mt-3">
                            <div class="col" style="text-align: center;">
                                <h5 id="num-followers">Followers: {{ num_followers }}</h5>
                            </div>
                            <div class="col" style="text-align: center;">
                                <h5 id="num-followings">Followings: {{ num_followings }}</h5>
                            </div>
                        </div>
                    </p>
                    <div class="text-center">
                        {% if user != user_profile %}
                            {% if request.user.is_authenticated %}
                                {% if not is_following %}
                                <button class="btn btn-primary follow-button" data-following-id="{{ user_profile.id }}" data-following-username="{{ user_profile.username }}">Follow</button>
                                {% else %}
                                <button class="btn btn-primary follow-button" data-following-id="{{ user_profile.id }}" data-following-username="{{ user_profile.username }}">Unfollow</button>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <h1 style="text-align: center; padding: 0.5%;">User Posts</h1>
</div>

{% include "network/includes/pagination.html" %}
{% endblock %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}
